<% include ../layouts/header %>


<div id="showPage" class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
	<a href="#" class="list-group-item list-group-item-action active">
	  Info 1 
	</a>
	<a href="#" class="list-group-item list-group-item-action">
	  Info 2 
	</a>
	<a href="#" class="list-group-item list-group-item-action">
	  Info 3 
	</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-fluid" src="<%= campground.image %>" alt="campground">
        <caption>
          <h4 class="lead"><%= campground.name %></h4>
          <p><%= campground.desc %></p>
        </caption>
      </div>
      <div class="">
      </div>
    </div>
  </div>

  <ul><% campground.comments.forEach(function(com){ %>
    <li>
      <strong><%= com.author %></strong>
       - <%= com.content %>
    </li>
  <% }); %>
  </ul>
  <a class="btn btn-outline-primary" href="/campgrounds/<%= campground._id %>/comments/new">Create Comment</a>
</div>

<% include ../layouts/footer %>
